/*
 * SPDX-FileCopyrightText: 2020 pukkamustard <pukkamustard@posteo.net>
 *
 * SPDX-License-Identifier: CC-BY-SA-4.0
 */

body {
    min-height: 100vh;
    font-size: 18px;
    line-height: 1.6;
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    color: #4782a7;
    margin: 20px auto 20px auto;
}

header #logo {
    margin-top: 30px;
    width: 800px;
}

.right-align {
    text-align: right;
}

nav {
    margin: 0 auto 0 auto;
    width: 900px;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav a {
    color: #4782a7;
    margin: 0 10px 0 10px;
}

main {
    width: 900px;
    margin: 20px auto 50px auto;
    flex-grow: 1;
}

main img {
    display: block;
    margin: auto;
    max-width: 800px;
}

main h1, main h2, main h3 {
    color: #4782a7;
    /* text-align: center; */
}

main h1 {
    margin-top: 100px;
}

main h2 {
    margin-top: 70px;
}

main h3 {
    margin-top: 60px;
}

.news li {
    margin-top: 40px;
}

.icon {
    width: 2.5em;
}

#supported-by img {
    flex: 33.3%;
    margin-top: 30px;
    padding: 30px;
    max-width: 300px;
}

.row {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer {
    background-color: #4782a7;
    color: white;
    padding: 5px 20px 5px 20px;
}

footer a {
    color: white;
}

#contact {
    width: 900px;
    margin: 20px auto 40px auto;
    text-align: right;
}
